/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/
.order-enter
  background red
  transform: translateX(-120%)
  transition 5s
  &.order-enter-active 
    background yellow 
    transform: translateX(0)
    transition: 5s
